.choice-container{
    display:flex;
    margin-bottom: 2px;
    margin-top:0.8px;
    width: 50%;
    font-size:20px;
    border:0.1rem solid rgb(0, 128, 128);
    background-color: white;

}

.choice-container:hover{
    cursor:pointer;
    box-shadow:0 0.4rem 1.4rem 0 rgb(0, 128, 128, 0.7);
    transform:translateY(-0.1rem);
    transition: transform 400ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    margin: 5px;
    background-color: #008080;
    color: white;
}

.choice-text{
    padding: 0.6rem;
    width: 100%;

}
 
body{
    background-color:peachpuff;
    opacity:0.5;
    background-size: 100%;
    width:100%;
    height:100%;
    border-radius : 10px;
    margin-top : 60px;
    margin-bottom: 40px;

}

h2{
    margin-bottom:60px;
    opacity:1;
}

.correct{
    background-color:green;
    opacity:80%;
}

.incorrect{
    background-color:red;
    opacity:80%;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
    
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
    margin-bottom:7px;
    margin-top:4px;
  }
  
  .hud-main-text {
    text-align: center;
    margin-bottom: 20px;
    font-size:30px;
  }

  #question{
      width:100%;
  }