
:root {
    background-color:peachpuff;
    font-size:10px;
  }
  *{
      box-sizing:border-box;
  }
  body{
    background-size:100%;
  }
  .btn {
    font-size:25px;
  }
   h1,h2,h3,h4{
     margin-bottom:10px;
   }
   h1 {
    color:black;
    font-family:cursive;
    font-size:46px;
    margin-bottom: 160px;
    margin-top:1rem;
   }
  
   h2{
     font-size:4.2rem;
     margin-bottom:4rem;
     font-weight: 700;
   }
  
   h3{
       font-size:3rem;
       font-weight: 500;
   }
   
   /* utilities */
   .container{
     width:100%;
     height:100%;
     display:flex;
     justify-content:center;
     align-items:center;
     max-width: 80rem;
     margin: 0 auto;
     padding: 2rem;
   }
  
   .container>*{
     width:100%;
   }
   .flex-column{
     display:flex;
     flex-direction:column;
   }
  
   .flex-centre{
     justify-content:center;
     align-items:center;
   }
  
   .justify-centre{
     justify-content:center;
   }
  
   .text-center{
    text-align: center;
   }
   .hidden{
     display:none;
   }
  
  /*BUTTONS*/
  
  .btn{
    font-size:18px;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border:2px solid #56a5eb;
    margin-top:20px;
    margin:7px;
    text-decoration:none;
    color: #56a5eb;
    background-color:white;
    justify-content:center;
    align-items:center;
  }
  
  .btn:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.2rem);
    transition:transform 600ms;
  }
  
  .btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow:none;
    transform:none;
  }
  
  
/* FORMS */
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  align-items:center;
}

input::placeholder{
  color: grey;
}

#end {
  align-items: center;
  justify-content: center;
} 